@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   </div>

<div class="row">
    <a href="branch" class="btn btn-primary btn-lg">View Branches &raquo;</a>
    <a href="Employee" class="btn btn-primary btn-lg">View Employees &raquo;</a>
</div>